/* ======================================== */
/* fonts
/* ======================================== */
@font-face {
  font-family: "LorealPro-Bold";
  src: url("../../assets/fonts/LOREALPRO-Bold.woff2");
}
@font-face {
  font-family: "LorealPro-Medium";
  src: url("../../assets/fonts/LOREALPRO-Medium.woff2");
}

/* ======================================== */
/*  Buttons
/* ======================================== */
#steampod .cta,
#steampod .obj-button {
  position: relative;
  display: block;
  padding: 0.5vw 2vw;
  min-width: 8.85vw;
  font-size: var(--aox-fs-16px) !important;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border: 2px solid #000;
  border-radius: 100vw;
  overflow: hidden;
}

/* ======================================== */
/* .bloc-mosaic
/* ======================================== */
#steampod .bloc-mosaic {
  /* padding-top: 3.9vw; */
  padding-bottom: 3.9vw;
}

#steampod .bloc-mosaic img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

#steampod .bloc-mosaic .bottom .bloc-cta {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20.95vw;
  height: 23.79vw;
  overflow: hidden;
}

#steampod .bloc-mosaic .bottom .bloc-cta .text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

#steampod .bloc-mosaic .bottom .bloc-cta .ctn-button {
  position: relative;
  display: inline-block;
  margin: 1.3vw auto 0;
}

#steampod .bloc-mosaic .bottom .bloc-cta picture {
  position: relative;
  z-index: 1;
  width: 100%;
}

#steampod .bloc-mosaic .bottom .bloc-cta picture img {
  margin: 0 auto;
  max-width: 90%;
}

#steampod .bloc-mosaic .bottom .bloc-cta video {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: auto;
}

#steampod .bloc-mosaic .ctn-bloc > div {
  display: block;
  overflow: hidden;
  height: 0;
  transition: opacity 0.5s ease,
    height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#steampod .bloc-mosaic.parallax-fixed-element-init .ctn-bloc > div {
  height: 47.91vw;
}

#steampod .bloc-mosaic.parallax-fixed-element-init .ctn-bloc .top,
#steampod .bloc-mosaic.parallax-fixed-element-init .ctn-bloc .bottom {
  height: 20.95vw;
}

@media screen and (max-width: 768px) {
  #steampod .bloc-mosaic.parallax-fixed-element-init .ctn-bloc > div {
    height: 280vw;
  }

  #steampod .bloc-mosaic.parallax-fixed-element-init .ctn-bloc .ctn-top-txt {
    height: 100vw;
  }

  #steampod .bloc-mosaic.parallax-fixed-element-init .ctn-bloc .top {
    height: 100vw;
  }

  #steampod .bloc-mosaic.parallax-fixed-element-init .ctn-bloc .bottom {
    height: 180.95vw;
  }

  #steampod
    .bloc-mosaic.parallax-fixed-element-init
    .ctn-bloc
    .bottom
    .bloc-cta {
    width: 100vw;
    height: 80.95vw;
    position: relative;
    left: auto;
    transform: none;
  }

  #steampod .bloc-mosaic .bottom .bloc-cta picture img {
    width: 73.8vw;
    max-width: inherit;
  }

  #steampod .bloc-mosaic .bottom .bloc-cta .ctn-button {
    margin-top: 5.95vw;
  }
}

/* ======================================== */
/* .owl-carousel
/* ======================================== */

#steampod .owl-prev,
.owl-next {
  position: absolute;
}

#steampod .owl-prev {
  left: -30px;
  top: 30%;
  transform: translateY(-30%);
}
#steampod .owl-next {
  right: -30px;
  top: 30%;
  transform: translateY(-30%);
}

#steampod .owl-prev span,
.owl-next span {
  font-size: 50px;
}

#steampod .owl-theme .owl-nav [class*="owl-"]:hover {
  color: #f91d8f;
  text-decoration: none;
  background: none !important;
}

#steampod a {
  text-decoration: none;
}

#steampod .owl-carousel img {
}

#steampod a h4 {
  color: black;
  font-size: 0.7em;
  word-break: break-word;
  transition: ease-in 0.7s;
}

#steampod a h4:hover {
  color: #f91d8f;
}

/* ======================================== */
/* .bloc-discover
/* ======================================== */

#steampod .title-discover {
  line-height: 0.9;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: "LorealPro-Bold", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 40px;
}

#steampod #discover-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#steampod #discover-list ul li {
  font: 300 1em/1 arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1em;
}

#steampod #discover-list ul li strong {
  font-family: "LorealPro-Medium", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
#steampod #discover-list ul li sup {
  display: inline-block;
  font-size: 0.5em;
  font-weight: 700;
}

#steampod video {
  width: 100%;
}

#steampod .video-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  #steampod .video-desktop {
    display: block;
  }
}
